@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
